<mat-card fxLayout="column" fxLayoutAlign="start stretch" [ngStyle]="{'background-color':'#3f53b5','color':'white' }">
    <div fxLayout="row" fxFlexOffset="15"></div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <H1 [ngStyle]="{'margin':'auto'}">Full Stack Developer</H1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center Center">
        <div  fxFlex.md="1%" fxFlex.xl="1%" fxFlex.xs="10%" fxFlex.sm="1%" fxFlex.lg="1%" ></div>
        <H2  [ngStyle]="{'text-align':'center'}"></H2>
        <div  fxFlex.md="1%" fxFlex.xl="1%" fxFlex.xs="10%" fxFlex.sm="1%" fxFlex.lg="1%" ></div>
    </div>
</mat-card>