<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxLayoutAlign="start stretch">
    <app-header></app-header>
</div>
<!-- create a single row and place two component to display list of articles -->
<div fxLayout="row" fxLayoutAlign="start stretch">
    <!-- divide row into 80 and 20 -->
    <div fxFlex.md="100%" fxFlex.sm="100%" fxFlex.lg="100%" fxFlex.xl="100%" fxFlex.xs="100%">
            <!-- <div fxFlex.md="80%" fxFlex.sm="80%" fxFlex.lg="80%" fxFlex.xl="80%"> -->
        <router-outlet></router-outlet>
    </div>

   <!-- <div fxHide.xs fxFlex.md="20%" fxFlex.sm="20%" fxFlex.lg="20%" fxFlex.xl="20%">
        vdsfdns
    </div> -->
</div>
<!-- Letter head -->
<div fxLayout="row" fxLayoutAlign="start stretch">
    smskdsn
</div>
